
    <div class="ae-grid au-xs-ta-center au-mb-4">
      <div *ngFor="let person of infoService.team"  class="ae-grid__item item-lg-6 ae-kappa au-mb-3">
        <img [src]="person.picture" alt="" class="au-mb-3" style="width:300px;height:350px;">
        <h5 class="ae-u-bolder au-mt-2">{{person.name}}</h5>
        <p class="ae-u-bolder au-mb-3">{{person.subtitle}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{person.phrase}}</p>
        <a target="_blank" href="https://twitter.com/{{person.twitter}}" class="ae-u-bolder au-underline">{{person.twitter}}</a>
      </div>
    </div>
    <div class="ae-grid au-pt-3">
      <div class="ae-grid__item item-lg-6 item-lg--offset-3">
        <h4 class="ae-u-bolder" style="text-align: center" >We are ready for you.</h4>
        <p style="text-align: center" >We are here to help you and facilitate your technology growth</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">About Us</h6>
        <p class="au-lh-3">We are a technological solutions team that helps all those who need automation, improvement, or integration to the wide world of information technology. We can accompany you on the path of transforming your business idea and be allies for your growth.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Mission</h6>
        <p class="au-lh-3">We want to be a support team for all those great dreamers who want to grow their business. Be an example for those who want to help and show that together we can achieve great goals.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Clients</h6>
        <p class="au-lh-3">All those who need technology help here we are to support them in web applications, mobile applications, databases and clouds. </p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a routerLink="/home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>

